<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome, let's KLOSSIFY!!!!</h1>
    <img src="http://assets.teenvogue.com/photos/5798e5139e016460296a1574/master/pass/karlie-kloss-express-like-a-kloss-2-tout.jpg" style= "width:304px;height:300px;">
    <form method = "POST">
      Put in your word <input type= "text" name="user_first_word"><br>
      <input type= "submit">
    </form>

  </body>
</html>
